

body{
    margin: 20px 50px;
    box-sizing: border-box;
    background-color:  rgb(127, 133, 77);
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    min-height: 90vh;
    width: 80%;
    background-color: rgb(146, 155, 69);
    display: flex;
    justify-content: space-around                 ;
}

.left-buttons {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}



.sketch-area {
    width: 500px;
    height:500px;
    background-color: white;
    border: 4px solid yellow;
}