

body{
    margin: 20px 50px;
    box-sizing: border-box;
    background-color:  rgb(127, 133, 77);
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    min-height: 90vh;
    width: 80%;
    background-color: rgb(146, 155, 69);
    display: flex;
    justify-content: space-around                 ;
}

.left-buttons {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    margin-left: 20px;
}



.sketch-area {
    width: 600px;
    height:600px;
    background-color: white;
    border: 4px solid yellow;
    
}
.grid-item{
    border: 0.1px solid #e6e6e6;
}


.choose-color{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 30px;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 80px;
	height: 80px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    border: none;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}

#random, #rainbow,#shading,#eraser,#clear{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border: 1px solid yellow ;
    font-size: 20px;
    background-color: rgb(95, 89, 6);
    color: white;
    margin-top: 20px;
}


#random, #rainbow,#shading,#eraser,#clear :focus{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border: 1px solid yellow ;
    font-size: 20px;
    background-color: rgb(95, 89, 6);
    color: white;
    margin-top: 20px;
}


#grid-size{
    display: block;
    margin-top:20px;
}
.show-grid{
    margin: 10px 0;
    color: white;
}

